@charset "UTF-8";

/**
 * Horizontal CSS Drop-Down Menu Module
 *
 * @file		dropdown.css
 * @package		Dropdown
 * @version		0.7.1
 * @type		Transitional
 * @stacks		597-599
 * @browsers	Windows: IE6+, Opera7+, Firefox1+
 *				Mac OS: Safari2+, Firefox2+
 *
 * @link		http://www.lwis.net/
 * @copyright	2006-2008 Live Web Institute. All Rights Reserved.
 *
 */

.dropdown,
.dropdown li,
.dropdown ul {
 list-style: none;
 margin: 0;
 padding: 0;
}

.dropdown {
 z-index: 597;
 /*
 float: left;
 position: relative;
 */
}

.dropdown li {
 float: left;
 height:29px;
 line-height:normal;
}

.dropdown li.hover,
.dropdown li:hover {
 position: relative;
 z-index: 599;
 cursor: default;
}

.dropdown ul {
 visibility: hidden;
 position: absolute;
 top: 100%;
 left: 0;
 z-index: 598;
 width: 100%;
}

.dropdown ul li {
 float: none;
}

.dropdown ul ul {
 top: 1px;
 left: 99%;
}

.dropdown li:hover > ul {
 visibility: visible;
}

.dropdown li a {
 display: block;
 padding: 5px 10px;
}

.dropdown .dir ul {
 /* background: url('IMG/stock/fondo_menu.jpg') repeat; */
}

.dropdown .dir li {
 padding: 0;
}
.dropdown .dir li:hover {
/* background: url('IMG/stock/pixel_verde.png') repeat transparent; */
 font-weight:bold;
}

.dropdown .dir li a {
 padding: 0 10px;
}

/*-------------------------------------------------/
 * @section		Base Style Override
 */

.dropdown li, .dropdown ul li {
 padding: 0;
}


/*-------------------------------------------------/
 * @section		Base Style Reinitiate: post-override activities
 */

.dropdown li.dir {
 padding: 0px;
 vertical-align:middle;
}

.dropdown ul li.dir {
 padding: 5px 15px;
}


/*-------------------------------------------------/
 * @section		Custom
 */

.dropdown ul a {
 padding-left: 15px;
}

.dropdown li.hover *.open {
 color: #b0d730;
}

/* CSS2 clone */

.dropdown li:hover > *.dir {
 color: #b0d730;
}

/**
 * Vimeo.com CSS Drop-Down Menu Theme
 *
 * @file		default.css
 * @name		Vimeo
 * @version		beta
 * @type		transitional
 * @browsers	Windows: IE5+, Opera9+, Firefox1+
 *				Mac OS: Safari2+, Firefox2+
 *
 * @link		http://www.lwis.net/
 * @copyright	2009 Live Web Institute. All Rights Reserved.
 *
 */


/*-------------------------------------------------/
 * @section		Base Drop-Down Styling
 */


#menu_superior {
    border-spacing:0;
    border-collapse:collapse;
    line-height:29px;
    height:29px;
}

#menu_superior:after {
    clear:both;
 }

.dropdown {
    background-color: #62BD19;
    background-image:url('/IMG/stock/fondo-h.png');
    font: normal 14px/normal Tahoma, Verdana, Arial, Helvetica, sans-serif;
    width:976px;
    line-height:29px;
    height:29px;

}

.dropdown .btnlnk {
    padding:0px;
}

.dropdown>li {
    background: none;
    border-left:4px solid #FFFFFF;
    color: #FFFFFF;
    white-space: nowrap;
}

.dropdown>li.ultimo {
    border-right:4px solid #FFFFFF;
}

.dropdown li.hover,
.dropdown li:hover, .lidestacado {
background-color: #EC454E;
background-image:url('/IMG/stock/fondo-h.png');
}

.dropdown a:link,
.dropdown a:visited	{ color: #fff; text-decoration: none; }
.dropdown a:hover	{ color: #EEE; }
.dropdown a:active	{ color: #0395cc; }


/* -- level mark -- */

.dropdown ul {
 left: 0px;
 width: 160px;
 padding: 0;
}

.dropdown li.last ul {
 left: auto;
 right: 0px;
}

.dropdown ul li {
 line-height: 29px;
 height:29px;
 padding: 5px 15px;
 white-space: normal;
}

/* -- level mark -- */

.dropdown ul ul {
 top: -12px;
 left: 100%;
 padding: 16px 0 0;
}

/*-------------------------------------------------/
 * @section		Search Form
 */


/*-------------------------------------------------/
 * @section		Support Class `dir`
 */

/* -- Components override -- */

.dropdown-horizontal ul *.dir {
 padding-right: 15px;
 background-position: 95% 50%;
 background-repeat: no-repeat;
 background-color: #DEF0DC;
 background-image:url('/IMG/stock/fondo-h.png');
}

.dropdown .dir ul {
    padding-top:7px;
    padding-bottom:7px;
    border:1px solid #999999;
    background-color: #FFF;
    background-image:url('/IMG/stock/fondo-h.png');
}
.dropdown .dir ul li {
    border-bottom:1px dashed #CCC;
    border-top:1px dashed #CCC;
    font-family:arial;
    font-size:9pt;
    font-size-adjust:none;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    height:auto;
}

.dropdown .dir ul li:hover {
    background-color:#DEF0DC;
}

.dropdown .dir ul li a {
    color:#666666;
}
.dropdown .dir ul li a:hover {
    color:#663399;
}

.dropdown .busqueda:hover {
    background:none;
    background-image:url('/IMG/stock/fondo-h.png');
}

.dropdown .busqueda form {
    line-height:29px;
    margin-left:5px;
}
