<ifModule mod_gzip.c>
  mod_gzip_on Yes
  mod_gzip_dechunk Yes
</ifModule>
<ifModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 2 year"
</ifModule>
<ifModule mod_headers.c>
    Header set Cache-Control "private"
    Header unset Last-Modified
    Header unset ETag
</ifModule>
FileETag None

RewriteEngine on
Options +FollowSymLinks

RewriteBase /

RewriteRule ^(.*\.(css|js))$ /obgz.php?archivo=$1 [L,NC]
RewriteRule ^(iniciar|finalizar|registrar|buscar|~usuarios|~contenedores|~variedades|~categorias|~accesorios|~productos_categoria|~filtros|~menu|~administracion|~compras|~estadisticas|~massmail|informacion|ventas|ayuda|editar|verificar|contactanos)$ index.php?peticion=$1&%{QUERY_STRING} [L]
RewriteRule ^comprar-articulo-.*$ index.php?peticion=comprar [L]
RewriteRule ^vitrina-(.*)-([0-9]+).*$ http://flor360.com/arreglos-florales-floristerias-en-el-salvador-$1-$2.html [R=301,L]
RewriteRule ^arreglos-florales-floristerias-en-el-salvador-(.*)-([0-9]+).*$ index.php?peticion=vitrina&titulo=$1&codigo_contenedor=$2 [L]
RewriteRule ^categoria-superior-.*-([0-9]+).*$ index.php?peticion=categoria&modo=superior&codigo_categoria=$1&%{QUERY_STRING} [L]
RewriteRule ^categoria-(.+)-especial.*$ index.php?peticion=categoria&modo=filtro&codigo_categoria=$1&%{QUERY_STRING} [L]
RewriteRule ^categoria-.*-([0-9]+).*$ index.php?peticion=categoria&codigo_categoria=$1&%{QUERY_STRING} [L]
RewriteRule ^ajax$ ajax.php?%{QUERY_STRING} [L]

RewriteCond %{REQUEST_URI} ^/imagen_([0-9]+)_([0-9]+)_([a-za-z0-9]{40})(\.jpg){0,1}$
RewriteCond %{DOCUMENT_ROOT}/IMG/i/m/%1_%2_%3 -f [NC]
RewriteRule ^imagen_([0-9]+)_([0-9]+)_([a-za-z0-9]{40}).*$ %{DOCUMENT_ROOT}/IMG/i/m/$1_$2_$3 [L]

RewriteRule ^imagen_([0-9]+)_([0-9]+)_([a-za-z0-9]{40}).*$ imagen.php?tipo=normal&ancho=$1&alto=$2&sha1=$3 [L]
RewriteRule ^imagen_SSL_(.*)$ imagen.php?tipo=tcredito&pin=$1 [L]
RewriteRule ^imagen_random\.jpg$ imagen.php?tipo=random [L]
RewriteRule ^admin_(.+)$ index.php?peticion=admin&op=$1&%{QUERY_STRING} [L]
RewriteRule ^registro_(.+)_existe:(.*)$ PHP/traductor.php?peticion=registro_usuarios_$1&op=$2 [L]
