html,body {margin:0 auto;padding:0;border:0;width:100%;height:100%;}
body{background:#93d160;font-size:100%;font-family:Verdana, Helvetica,"Lucida Grande", Arial, sans-serif;font-size:1em;background-attachment:fixed;background-image:url('IMG/stock/fondo.png');background-position:top left;background-repeat:repeat;}
input[type=text],input[type=password],select,textarea{border:1px solid #84B684;outline-color:-moz-use-text-color;outline-style:none;outline-width:medium;padding:1px;background-color:#DAFFB5;font-weight:bolder;color:#000;}
input[type=submit]{font-size:0.7em;vertical-align:middle;}
table th{border-top:thin solid #c0c0c0;border-left:thin solid #c0c0c0;border-right:thin solid #c0c0c0;background-color:#eee;}
h1, h2, h3{margin:.8em 0 .2em 0;padding:0;background-image:url('IMG/stock/fondo-h.png');}
h1{display:block;-moz-border-radius:10px;-webkit-border-radius:10px;background-color:#95C795;color:#FFF;font-size:100%;text-align:center;padding:5px;}
.etiqueta-categoria{-moz-border-radius:5px;-webkit-border-radius:5px;background-color:#95C795;color:#FFF;padding:3px;text-align:center;line-height:29px;height:29px;white-space:nowrap;}
h2, .ventas li{display:block;-moz-border-radius:5px;-webkit-border-radius:5px;background-color:#FCC505;color:#FFF;font-size:90%;text-align:center;padding:5px;}
h3{font-size:85%;}
p{margin:.4em 0 .8em 0;padding:0;}
img{border:none;}
img.bloque{display:block;}
a{border:none;color:#00f;text-decoration:none;}
a:hover{color:#50f;border:none;}
.articulo{width:100%;height:auto;border-collapse:collapse;border:0;padding:0;margin:0;font-size:0.8em;border:2px solid #CCC;}
.limpio{border:0;background-color:transparent;}
.limpio th{border:0;background-color:transparent;}
.limpio td{border:0;background-color:transparent;}
.auto_mostrar{display:none;}
.btnlnk-mini{line-height:normal;padding:0px;margin:0px;font-size:small;}
.mini{font-size:0.7em;}
.pme-form{border:none;margin:0;padding:0;}
.pme-hr{border:0 solid;padding:0;margin:0;border-top-width:1px;height:1px;}
.pme-main{border:#004d9c 1px solid;border-collapse:collapse;border-spacing:0;width:100%;}
.pme-navigation{border:#004d9c 0 solid;border-collapse:collapse;border-spacing:0;width:100%;}
.pme-navigation-0,.pme-navigation-1{white-space:nowrap;}
.pme-header{border:#004d9c 1px solid;padding:4px;background:#CCC;}
.pme-form a{border:none;padding:0;background:none;text-decoration:none;}
.pme-key-0,.pme-value-0,.pme-help-0,.pme-navigation-0,.pme-cell-0,.pme-key-1,.pme-value-1,.pme-help-0,.pme-navigation-1,.pme-cell-1,.pme-sortinfo,td.pme-filter{border:#004d9c 1px solid;padding:3px;}
.pme-buttons{text-align:left;}
.pme-message{text-align:center;}
.pme-stats{text-align:right;}
.portada-td{padding:0px;border:none;margin:0;width:133px;vertical-align:top;}
.portada-centro{padding:0px;border:none;margin:0;text-align:center;vertical-align:top;width:694px;}
.portada-centro>a>img{width:692px;height:446px;}
.portada-categoria>a>img{width:133px;height:200px;}
.portada-categoria{display:block;width:133px;height:221px;overflow:hidden;text-align:center;}
.portada-divisor{display:block;width:133px;height:4px;}
.titulo-categoria{display:block;background-color:#FCC505;color:#FFF;font-weight:bolder;font-size:1em;text-align:center;line-height:21px;height:21px;overflow:hidden;}
.categoria-elemento{color:black;font-family:arial;font-size:8pt;text-decoration:none;margin-bottom:3em;}
.categoria-elemento>.titulo{color:#95C795;font-weight:bold;font-size:1.2em;}
.categoria-elemento>a>img{width:133px;height:200px;}
.categoria-elemento>.precio{color:#555;}
.tabla-estandar{width:100%;}
.tabla-estandar td{vertical-align:top;padding:1px 10px;border:1px solid #CCC;}
.tabla-estandar input{width:11ex;}
.info:before{content:url('IMG/stock/exclamacion32.gif');margin:0 1em;float:left;}
.info{display:block;vertical-align:bottom;font-weight:bold;font-size:1em;background-color:#FEFEFE;color:#000;border:1px dashed #F00;margin-top:1em;}
.confirmacion:before{content:url('IMG/stock/alto.png');margin:0 1em;float:left;}
.confirmacion{display:block;vertical-align:bottom;font-weight:normal;font-size:1em;background-color:#F0F0F0;color:#111;}
.error{display:block;font-weight:bold;font-size:1em;background-color:#FFF;color:#F00;padding:10px 0;border:1px dashed #000;}
.btn{font-size:18px !important;color:#F00 !important;}

#tabla-ventas,#tabla-ventas input {font-size:8pt;padding:0;border:thin solid #DDD;margin:0;background-color:#FFF;}
#tabla-ventas .ir {width:3ex;background-color:#F9F9F9;height:14px;}
#caja-refinado>table{width:100%;}
#caja-refinado table tr td + td{text-align:right;}
#caja-refinado table{color:#8a8989;font-weight:normal;font-size:9pt;padding:0;margin:0;}
#pie-pagina p, .medio-oculto, .medio-oculto a{color:#8a8989;font-weight:normal;font-size:7pt;margin:0;}
#pie-pagina p, .medio-oculto a{font-weight:bolder;}
#wrapper{margin:auto;height:auto;min-height:100%;width:980px;overflow:hidden;background-color:#FFF;border-left:1px solid #62BD18;border-right:1px solid #62BD18;}
#header{top:0px;padding:0px;margin:0px;background-color:#FFF;}
#header>table{width:100%;margin:0;border:0;padding:0;border-collapse:collapse;}
#header tr{margin:0;border:0;}
#header #centro{width:376px;}
#header #logotipo{width:400px;}
#header #logotipo>a>img{width:300px;height:83px;}
#header #logotipo #mariposa{position:relative;left:-45px;top:-20px;z-index:999;width:70px;height:64px;}
#header #centro>a>img{width:397px;height:87px;}
#header #telefonos{width:auto;white-space:nowrap;font-size:0.7em;text-align:center;vertical-align:center;}
#header #telefonos>img{width:52px;height:23px;}
#secc_categorias{-moz-border-radius:10px;-webkit-border-radius:10px;display:block;border:2px solid #CCCCCC;background-color:#FFF;color:#CCC;text-align:left;font-size:0.8em;padding:5px;width:auto;}
#secc_categorias a{color:#888;font-weight:bold;}
#secc_categorias a:hover{color:#00f;}
#secc_categorias .item_cat{display:block;line-height:25px;padding:2px;vertical-align:middle;}
#secc_categorias .item_cat_todos{font-weight:bolder;clear:both;}
#secc_categorias #ver_categorias{float:right;}
#secc_articulos, #secc_general{padding:5px;background-color:#FFF;}
#error{background-color:#F00;border:2px solid #000;margin:0;padding:5px;max-width:100%;font-weight:bold;color:#FFF;text-align:center;margin-top:5px;margin-bottom:5px;}
#error:before{content:'Error: '}
#info{background-color:#FFFF00;border:2px solid #F00;margin:0;padding:5px;max-width:100%;font-weight:bold;color:#000000;text-align:center;margin-top:5px;margin-bottom:5px;}
#info:before{content:"Informacion: "}
#nota{display:block;background-color:#CCCCFF;border:2px solid #000000;margin:0;padding:5px;max-width:100%;font-weight:bold;color:#000000;text-align:center;margin-top:5px;margin-bottom:5px;}
#nota:before{content:"Nota: "}
#pub_descripcion_corta{width:100%;background-color:#EEE;}
#prev_pub{border:2px solid #F00;padding:5px;}
#portada-tabla{border:none;margin:0pt;padding:0pt;width:970px;height:426px;border-collapse:collapse;}
#top10{width:100%;border-collapse:collapse;border:none;margin:1em 0;padding:none;}
#top10 tr{height:221px;border:none;margin:none;padding:none;}
#top10 td{height:221px;border:none;margin:none;padding:none;}
#compras-resumen-fotografia>img{width:133px;height:200px;}
#compras-resumen td{vertical-align:top;}
#inscribete{background-color:#62BD19;color:#FFF;width:100%;border:none;margin:10px 0px;text-align:center}
#menu_superior{width:100%;}
#caja-compra{width:160px;text-align:right;float:right;}
#izq-compra{float:left;width:320px;}
#formulario-compra input{width:98%;}
#menu_superior{border-spacing:0;border-collapse:collapse;line-height:29px;height:29px;}
#menu_superior:after{clear:both;}

.social{width:48px;height:48px;vertical-align:middle;}
.dropdown, .dropdown li, .dropdown ul{list-style:none;margin:0;padding:0;}
.dropdown{z-index:597;}
.dropdown li{float:left;height:29px;line-height:normal;}
.dropdown li.hover, .dropdown li:hover{position:relative;z-index:599;cursor:default;}
.dropdown ul{visibility:hidden;position:absolute;top:100%;left:0;z-index:598;width:100%;}
.dropdown ul li{float:none;}
.dropdown ul ul{top:1px;left:99%;}
.dropdown li:hover > ul{visibility:visible;}
.dropdown li a{display:block;padding:5px 10px;}
.dropdown .dir li{padding:0;}
.dropdown .dir li:hover{font-weight:bold;}
.dropdown .dir li a{padding:0 10px;}
.dropdown li, .dropdown ul li{padding:0;}
.dropdown li.dir{padding:0px;vertical-align:middle;}
.dropdown ul li.dir{padding:5px 15px;}
.dropdown ul a{padding-left:15px;}
.dropdown li.hover *.open{color:#b0d730;}
.dropdown li:hover > *.dir{color:#b0d730;}
.dropdown{background-color:#62BD19;background-image:url('/IMG/stock/fondo-h.png');font:normal 14px/normal Tahoma, Verdana, Arial, Helvetica, sans-serif;width:976px;line-height:29px;height:29px;}
.dropdown .btnlnk{padding:0px;}
.dropdown>li{border-left:4px solid #FFFFFF;color:#FFFFFF;white-space:nowrap;}
.dropdown>li.ultimo{border-right:4px solid #FFFFFF;}
.dropdown li.hover, .dropdown li:hover, .lidestacado{background-color:#EC454E;background-image:url('/IMG/stock/fondo-h.png');}
.lidestacado{font-weight:bolder;}
.dropdown a:link, .dropdown a:visited{color:#fff;text-decoration:none;}
.dropdown a:hover{color:#EEE;}
.dropdown a:active{color:#0395cc;}
.dropdown ul{left:0px;width:160px;padding:0;}
.dropdown ul li{line-height:29px;height:29px;padding:5px 15px;white-space:normal;}
.dropdown ul ul{top:-12px;left:100%;padding:16px 0 0;}
.dropdown-horizontal ul *.dir{padding-right:15px;background-position:95% 50%;background-repeat:no-repeat;background-color:#DEF0DC;background-image:url('/IMG/stock/fondo-h.png');}
.dropdown .dir ul{padding-top:7px;padding-bottom:7px;border:1px solid #999999;background-color:#FFF;background-image:url('/IMG/stock/fondo-h.png');}
.dropdown .dir ul li{border-bottom:1px dashed #CCC;border-top:1px dashed #CCC;font-family:arial;font-size:9pt;font-size-adjust:none;font-style:normal;font-variant:normal;font-weight:normal;height:auto;}
.dropdown .dir ul li:hover{background-color:#DEF0DC;}
.dropdown .dir ul li a{color:#666666;}
.dropdown .dir ul li a:hover{color:#663399;}
.dropdown .busqueda{float:right;}
.dropdown .busqueda:hover{background:none;background-image:url('/IMG/stock/fondo-h.png');}
.dropdown .busqueda form{line-height:29px;margin-left:5px;}
